DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="lutfen-guclu-secret-kullanin"
ADMIN_EMAIL="admin@meturkoglu.com"
ADMIN_PASSWORD="degistir-beni"
RESEND_API_KEY="re_..."
UPLOADTHING_TOKEN="..."
