DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="degistir-cok-uzun-rastgele-string"
ADMIN_EMAIL="admin@meturkoglu.com"
ADMIN_NAME="Muhammed Emin Türkoğlu"
ADMIN_PASSWORD="degistir-beni"
RESEND_API_KEY="re_xxx"
CONTACT_TO_EMAIL="muhammedemin@example.com"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
